                    /* fonts */
body{
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3 , h4, h5, h6{
  font-family: "Fjilla One", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6vbc8l');
  src:  url('../fonts/icomoon.eot?6vbc8l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6vbc8l') format('truetype'),
    url('../fonts/icomoon.woff?6vbc8l') format('woff'),
    url('../fonts/icomoon.svg?6vbc8l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-images:before {
  content: "\e90e";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-youtube2:before {
  content: "\ea9e";
}

                    /* Flex */
.header, .nav_list, .mision_and_vision{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container{
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  width: 90%;
  margin: 0 auto;
}

.profecional_services{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.capacity{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: relative;
}

.address{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

                    /* header background */
.header_background_img{
  background-image: url(../images/img_amd_6.jpg);
  /* background-color: rgba(0, 0, 0, 0.2); */
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
}

.header_background_opacity{
  background-color: rgba(2, 6, 9, 0.9);
  width: 100%;
  height: 100%;
}

.background_img{
  background-size: 100% auto;
  background-position: center;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  /* display: inline-block; */
}

.opacity{
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
}

                    /* header */
.header{
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
  background-color: rgba(2, 6, 9, 0.5);
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.div_amd_logo{
  width: 220px;
  height: 100%;
}

.amd_logo{
  background-image: url(../images/amd_logo_transparent.png);
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 70px;
}

.nav_list{
  list-style: none;
  padding: 0;
}

.nav_list li{
  margin: 0 20px;
}

.nav_list li a{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  white-space: nowrap;
  width: 85%;
}

                    /* hero */
.hero{
  height: 92%;
}
.hero_msg{
  color: white;
  width: 100%;
  font-size: 3.5em;
  margin: 110px 50px 0;
  text-align: center;
  text-transform: uppercase;
}
.hero_msg strong{
  color: #318DD2;
}

.hero_gallery_div{
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.hero_gallery_div h2{
  color: #29B0D1;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin: 0 auto;
  margin-bottom: 25px;
  border-bottom: 1px solid white;
  width: 100px;
}

.hero_gallery_div a{
  margin: 0 auto 50px;
  text-align: center;
  font-size: 2em;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #4FBED9;
  border-radius: 10px;
}

.hero_gallery_div a i{
  vertical-align: middle;
}

.hero_fig{
  width: 1000%;
  height: 655px;
  margin: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  animation: 35s slider infinite;
}

.hero_fig img{
  width: 10%;
  flex-shrink: 0;
  height: 100%;
  /* border-radius: 50px; */
  /* border: thick solid #103B60; */
  /* height: auto; */
}

@keyframes slider {

  5% {
    left: 0;
  }

  10% {
    left: 0;
  }

  15% {
    left: -100%;
  }

  20% {
    left: -100%;
  }

  25% {
    left: -200%;
  }

  30% {
    left: -200%;
  }

  35% {
    left: -300%;
  }

  40% {
    left: -300%;
  }

  45% {
    left: -400%;
  }

  50% {
    left: -400%;
  }

  55% {
    left: -500%;
  }

  60% {
    left: -500%;
  }

  65% {
    left: -600%;
  }

  70% {
    left: -600%;
  }

  75% {
    left: -700%;
  }

  80% {
    left: -700%;
  }

  85% {
    left: -800%;
  }

  90% {
    left: -800%;
  }

  95% {
    left: -900%;
  }

  100% {
    left: -900%;
  }
}

                    /* mision and vision */
.mision_and_vision{
  background-image: url(../images/img_amd_1.jpg);
}

/* #205A86 */

.opacity_mision_and_mision{
  background-color: rgba(49, 141, 210, 0.9);
}

.mision, .vision{
 width: 48%;
 margin: 50px 0;
 border-radius: 25px;
 height: 320px;
 /* background-color: white; */
 /* border: 1px solid white; */
}

.mision{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-right: thick solid #EAEAEA;
  border-left: thick solid #EAEAEA;
}

.vision{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-right: thick solid #EAEAEA;
  border-left: thick solid #EAEAEA;
}

.mision_title, .vision_title{
  color: white;
  font-size: 4em;
  margin: 0;
  text-align: center;
  width: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

.mision_msg, .vision_msg{
  color: #06121E;
  font-size: 2em;
  width: 90%;
  color: white;
}

                    /* profecional services and capacity */
.profecional_services, .capacity{
  background-color: #EAEAEA;
}

.profecional_services{
  height: 666px;
}

.capacity{
  height: 596px;
}

.art_profecional_services, .art_capacity{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: rgba(243, 251, 255, 0.85);
}

.art_profecional_services{
  left: 0px;
}

.art_capacity{
  right: 0px;
}

.profecional_services_title, .capacity_title{
  margin: 50px 0 0;
  font-size: 4em;
  color: #318DD2;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: thick solid #0F3658;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
}

.profecional_services_title{
  width: 60%;
}

.capacity_title{
  width: 35%;
}

.profecional_services_list, .capacity_list{
  margin: 50px 0;
  width: 100%;
  padding: 0;
  /* padding: 0; */
  /* text-align: center; */
}

.profecional_services_list li, .capacity_list li{
  /* width: 100%; */
  margin: 0 10%;
  font-size: 1.8em;
  color: #061623;
  line-height: 150%;
}

.profecional_services_img{
  background-image: url(../images/img_amd_8.jpg);
  background-size: auto 100%;
  /* background-position-y: 50px; */
  background-position-x: -200px;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
}

.capacity_img{
  background-image: url(../images/img_amd_7.png);
  background-size: auto 100%;
  background-position: left;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
}

.opacity_profecional_services, .opacity_capacity{
  background-color: rgba(6, 22, 35, 0.8);
  width: 100%;
  height: 100%;
}

.profecional_services_list, .capacity_list{
  list-style: none;
}

.profecional_services_list li::before, .capacity_list li::before{
  content: "\2022";
  color: #66A4D1;
  font-weight: bold;
  font-size: larger;
  margin-right: 8px;
}

                    /* Map */

.address{
  background-image: url(../images/img_amd_9.jpg);
}

.address_title{
  width: 10%;
  text-align: center;
  margin: 50px 0 50px 20.5%;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: thick solid white;
  display: flex;
  justify-content: center;
}

.address_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.map_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.address_detail{
  font-size: 1.9em;
  color: white;
  /* margin: 0 5%; */
  width: 49%;
  margin: 50px 0 0 0;
}

.map_title{
  margin: 0 0 50px 0;
  color: white;
  font-size: 3em;
  width: 40%;
  text-align: center;
  border-bottom: 3px solid white;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  /* position: absolute; */
}

.div_map{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 49%;
}

#map{
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  border: thick solid #46719b;
  /* position: relative; */
}

.opacity_address{
  background-color: rgba(49, 141, 210, 0.9);
  width: 100%;
  height: 100%;
}

                    /* contacto */

.contacto{
  background-image: url(../images/img_amd_1.jpg);
}

.contacto_title{
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 50px 0;
  color: white;
  border-bottom: thick solid #318DD2;
  width: 30%;
  display: flex;
  justify-content: center;
}

.contacto_form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.contact_form_name, .contact_form_email{
  width: 45%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 70px;
}

.contact_form_text{
  width: 50%;
  margin: 50px 30% 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #D5D5D5;
  text-align: justify;
  padding-bottom: 70px;
  color: white;
}

.contact_form_send{
  margin: 50px auto;
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid #318DD2;
}

.opacity_contacto{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.contact_form_name, .contact_form_email, .contact_form_text{
  background-color: transparent;
  color: white;
}

                    /* footer */

.footer{
  background-color: #318DD2;
}

.company_name, .special_thanks{
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.company_name img{
  vertical-align: middle;
  width: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  /* border: 2px solid white; */
  margin: 0 0 0 20px;
}

.special_thanks a{
  color: #2E4750 !important;
  text-decoration: none;
}
