body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2;
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong{
  color: #3D9EB7;
}

li a{
  font-size: 45px;
}
#CapacidadyGaleria, .menu_link, .header_logo_menu, .s_mision_y_vision {
  display: flex;
}

.menu_link{
  list-style: none;
}

.logo{
  margin: 10px 10px;
}

.menu{
  margin-left: 0px;
}
.menu_link{
  padding-left: 0px;
  flex-wrap: wrap;
  padding-left: 0px;
  flex-wrap: wrap;
  margin: 19px 0px;
  border-left: 5px solid white;
}

.link{
  flex-shrink: 0;
  margin-left: 20px;
  padding: 5px;
  margin-top: center;
}

.s_principal{
  display: flex;
  flex-wrap: wrap;
  background-color: #EAEAEA;
}

.principal_message, .principal_welcome{
  flex-shrink: 0;
}

.principal_message{
  width: 670px;
  /* margin: 40px; */
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  margin: 25px auto;
  /* background-color: #EAEAEA; */
}

.principal_welcome{
  /* width: 650px;
  margin-left: 40px; */
  width: 650px;
  /* margin-left: 40px; */
  /* margin: 40px; */
  padding: 2px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: white;
  margin: 25px auto;
  /* background-color: #548191; */
  /* background-image: url("images/img_amd_7.png");
  background-size: 570px 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 120px; */
}

.principal_message_1{
  margin: 0px;
  margin-top: 25px;
}

.principal_welcome_welcome{
  margin: 16px 0px 16px 0px;
  text-align: center;
  font-size: 50px;
}

.principal_welcome_img{
  width: 567px;
  height: 260px;
  border: 1px solid white;
  border-radius: 15px;
}


.galeria_size{
  width: 250px;
  height: 70;
}

.capacidad{
  width: 600px;
}

.galeria{
  width: 600px;
}

.header{
  background-color: #071523;
  color: white;
}

.header a{
  color: white;
  text-decoration: none;
}

.s_servicios{
  background-color: #071523;
  color: white;
}
.s_servicios_title{
  margin: 0 auto;
  padding: 50px 0px 0px;
  text-align: center;
  font-size: 100px;
}

.servicios{
  text-align: center;
}

.servicios_unordered_list{
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 50px;
  list-style-position: inside;
}

.servicios_description{
  text-align: center;
  font-size: 35px;
}

.s_mision_y_vision{
  background-color: #EAEAEA;
  display: flex;
  flex-wrap: wrap;
}

.mision{
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
  margin: 50px auto;
  flex-shrink: 0;
  background-color: white;
}

.vision{
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
  margin: 50px auto;
  flex-shrink: 0;
  background-color: white;
}

.mision_description, .vision_description{
  margin: 0px 20px 15px;
  font-size: 30px;
}

.mision_title, .vision_title{
  font-size: 50px;
  margin: 25px 0px;
}
